<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Nwanochie,Web developer, care deeply, creating world class website, help people, Nwanoch, Nwanochie Emmanuel, HTML, CSS, JavaScript, Web developer, front end developer, back end developer, nodejs, reactjs, mongoDB ">
  <link rel="canonical" href="https://www.nwanochie.com/hello">
    <meta name="author" content="Nwanochie Emmanuel">
    <link rel="icon" type="image/png" href="/images/favi.png"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

    <title>Nwanochie Emmanuel | Web Developer</title>
    <script
      src="https://kit.fontawesome.com/e623fb9df6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="main" onload="myFunction()" onclick="closeNav()">
    <div class="loader" id="loader"></div>
    <div class="overall" id="myDiv" style="display: none;">
      <div class="mobile" id="mySidenav">
        <div class="mhh" id="mhh">
          <a href="/" class="hell"> Home </a>
          <a href="/hello" class="hell"> Say Hello </a>
          <a href="/hire" class="actio"> Hire me</a>
        </div>
      </div>
      <nav>
        <div><a href="/"><img src="/images/nwanochie-emmanuel.png" alt="Nwanochie's logo" />
        </div>
        <div>
          <a href="/hello" class="hello"> Say Hello </a>
          <a href="/hire" class="action"> Hire me</a>
          <a href="javascript:openNav()" class="bugger"
            ><i class="fa fa-bars"></i
          ></a>
        </div>
      </nav>

      <div class="nwanoch">
        <h1 class="animate__animated animate__shakeY">
          I haven't met you, and this is crazy...
        </h1>

        <p>
          But if you need someone to talk to, then email me maybe.
        </p>
        <img
          class="hero-img"
          src="/images/nwanochie-image.svg"
          alt="Nwanochie Hero image"
        />
      </div>

      <div class="welcome">
        <div class="container">
          <h1>Being a Web Developer is tough.</h1>
          <p>
            It seems like every other day there's a new coding trend to learn,
            frameworks to master, and endless coding-related packages to read.
            Honestly, it can be overwhelming and intimidating. I know because
            I've walked more than a few miles in those shoes. So whether you're
            new to the field or simply looking for some guidance and support, I
            can help.
          </p>
        </div>
      </div>

      <div class="works">
        <h2>Contact me</h2>
        <p>
          You can always reach me via email via
         emmmanuelnwanochie247@gmail.com <br />
          +2348130270190. I will be waiting.
        </p>
      </div>
      <div class="call">
        <h1>Book a consult</h1>
        <p>
          Still contemplating to hire me? Let's talk about it. The first call is on
          me.
        </p>
        <a href="/hire" target="blank" class="actionn htt"> Get in touch</a>
      </div>
      <footer> <a href=""><img src="/images/nwanochie.png" alt="Nwanochie Logo"></a>
        <p>Living, learning, & leveling up one day at a time</p>
        <div class="socials">
          <a
            target="blank"
            href="https://web.facebook.com/emmanuel.nwanochie.9"
          >
            <i class="fab fa-linkedin-in"></i
          ></a>
          <a
            target="blank"
            href="https://www.linkedin.com/in/emmanuel-nwanochie-1a8b9b178/"
          >
            <i class="fab fa-facebook-f"></i
          ></a>
          <a target="blank" href="https://www.instagram.com/Mr.Nwanoch/">
            <i class="fab fa-instagram"></i
          ></a>
          <a target="blank" href="https://wa.link/pta5xy">
            <i class="fab fa-whatsapp"></i
          ></a>
          <a target="blank" href="https://github.com/wenotch">
            <i class="fab fa-github"></i
          ></a>
        </div>
        <p>Written by Nwanochie &copy;2020</p>
      </footer>
    </div>
    <script src="/js/index.js">
      
    </script>
  </body>
</html>
