<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nwanochie Emmanuel is a web developer. He care deeply about creating world-class, useful, and beautiful products that help people.">
  <meta name="author" content="Nwanochie Emmanuel">
  <meta name="keywords" content="Nwanochie,Web developer, care deeply, creating world class website, help people, Nwanoch, Nwanochie Emmanuel, html, CSS, JavaScript, Web developer, front end developer, back end developer, nodejs, reactjs, mongoDB ">
  <link rel="canonical" href="https://www.nwanochie.com/">
    <link rel="icon" type="image/png" href="/images/favi.png"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <title>Nwanochie Emmanuel | Web Developer</title>
    <script
      src="https://kit.fontawesome.com/e623fb9df6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="main" onload="myFunction()" onclick="closeNav()">
    <div class="loader" id="loader"></div>
    <div class="overall" id="myDiv" style="display: none;">
      <div class="mobile" id="mySidenav">
        <div class="mhh" id="mhh">
          <a href="/" class="hell"> Home </a>
          <a href="/hello" class="hell"> Say Hello </a>
          <a href="/hire" class="actio"> Hire me</a>
        </div>
      </div>
      <nav>
        <div>
          <a href="/"><img src="/images/nwanochie-emmanuel.png" alt="Nwanochie Emmanuel image" />
        </div>
        <div>
          <a href="/hello" class="hello"> Say Hello </a>
          <a href="/hire" class="action"> Hire me</a>
          <a href="javascript:openNav()" class="bugger"
            ><i class="fa fa-bars"></i
          ></a>
        </div>
      </nav>

      <div class="nwanoch">
        <h1 class="">
          I Code Responsive Websites
        </h1>

        <p>
          I use latest technologies and frameworks to make beautiful Websites
          and web apps.
        </p>
        <img
          class="hero-img"
          src="/images/nwanochie.svg"
          alt="Nwanochie Emmanuel Hero image"
        />
      </div>

      <div class="welcome">
        <div class="container">
          <h1>Hi I'm <b>Nwanochie</b>. Nice to meet you.</h1>
          <p>
            I am a Web developer. I care deeply about creating world-class,
            useful and responsive products that help people. I'm quite
            confident, naturally curious, and perpetually working on improving
            my chops one coding problem at a time. I am always available to help you build your digital product.
          </p>
        </div>
      </div>

      <div class="service">
        <h2>Services</h2>
        <div class="row">
          <div class="content firstt">
            <i class="fas fa-code"></i>
            <h3>Frontend Development</h3>
            <p>
              Equipped with modern tools and powerful frameworks, I build high
              performance websites. Such tools include:
            </p>

            <div class="lists">
              <span class="title"> <b>Reactjs</b></span>
              <div class="grey">
                <div class="react"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>Bootsrap</b></span>
              <div class="grey">
                <div class="bootstrap"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>JQUERY</b></span>
              <div class="grey">
                <div class="jquery"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>CSS3</b></span>
              <div class="grey">
                <div class="css"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>HTML5</b></span>
              <div class="grey">
                <div class="css"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>Git</b></span>
              <div class="grey">
                <div class="css"></div>
              </div>
            </div>
          </div>

          <div class="content">
            <i class="fas fa-laptop-code"></i>
            <h3>Backend Development</h3>
            <p>
              I take it a step further to code backend logics for website to
              match clients specifications. in Nwanochie's tool box are:
            </p>

            <div class="lists">
              <span class="title"> <b>Nodejs</b></span>
              <div class="grey">
                <div class="react"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>Express ( )</b></span>
              <div class="grey">
                <div class="react"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>MongoDB</b></span>
              <div class="grey">
                <div class="bootstrap"></div>
              </div>
            </div>
            <div class="lists">
              <span class="title"> <b>Vanilla JS</b></span>
              <div class="grey">
                <div class="css"></div>
              </div>
            </div>
          </div>

          <div class="content lastt">
            <i class="fas fa-user-tie"></i>
            <h3>Soft Skills</h3>
            <p class="lastp">
             I distinguish myself. I go further to acquire skills relevant to making me more productive when I find myself working in a team.
            </p>
            <div class="soft-list">
            <div class="lists">
              <div class="circle"></div>
              <div class="text-skill"> <b>Team work</b>  </div>
            </div>
            <div class="lists">
              <div class="circle"></div>
              <div class="text-skill"> <b> Collaborating</b> </div>
              </div>
              <div class="lists">
                <div class="circle"></div>
                <div class="text-skill"> <b> Team player</b> </div>
              </div>
              <div class="lists">
                <div class="circle"></div>
                <div class="text-skill"> <b>Effective Communication </b> </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="works">
        <h2>Recent Projects</h2>
        <p>Here are a few design projects I've worked on recently.</p>
        <div class="holder">
          <div class="item">
            <img src="/images/nwanochie-gra.png" alt="gray2green built by Nwanochie" />
            <div>
              <a
                href="https://gray2green.herokuapp.com"
                target="blank"
                class="actionn tst"
              >
                Visit Site</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="works">
        <h2>Testimonial</h2>
        <p>Hear what people i have worked with has to say about me</p>
      </div> -->
      <div class="call">
        <h1>Start a project</h1>
        <p>
          Interested in working together? We should queue up a chat. I’ll buy
          the beer.
        </p>
        <a
          href="/hire"
          class="actionn htt"
        >
          Let's do this</a
        >
      </div>
      <footer>
        <a href=""><img src="/images/nwanochie.png" alt="Nwanochie image"></a>
        <p>Living, learning, & leveling up one day at a time</p>
        <div class="socials">
          <a
            target="blank"
            href="https://web.facebook.com/emmanuel.nwanochie.9"
          >
            <i class="fab fa-linkedin-in"></i
          ></a>
          <a
            target="blank"
            href="https://www.linkedin.com/in/emmanuel-nwanochie-1a8b9b178/"
          >
            <i class="fab fa-facebook-f"></i
          ></a>
          <a target="blank" href="https://www.instagram.com/Mr.Nwanoch/">
            <i class="fab fa-instagram"></i
          ></a>
          <a target="blank" href="https://wa.link/pta5xy">
            <i class="fab fa-whatsapp"></i
          ></a>
          <a target="blank" href="https://github.com/wenotch">
            <i class="fab fa-github"></i
          ></a>
        </div>
        <p>Written by Nwanochie &copy;2020</p>
      </footer>
    </div>
    <script src="/js/index.js">
      
    </script>
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Nwanochie","url":"http://www.nwanochie.com","address":"","sameAs":["https://web.facebook.com/emmanuel.nwanochie.9","https://www.instagram.com/Mr.Nwanoch/","https://www.linkedin.com/in/emmanuel-nwanochie-1a8b9b178/"]}</script>
  </body>
</html>
